
<div class="input-group" id="adv-search">
    <input #searchinput
           autofocus
           type="text"
           class="form-control"
           placeholder="{{ placeholder | translate }}"
           [value]="searchText"
           (keyup.enter)="doSearch(searchinput.value)"
    />
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <button type="button" (click)="doSearch(searchinput.value)" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

