<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-6">
    <h3>{{ 'Checkin / Checkout' | translate }}</h3>
    <reroils-circulation-search-bar
      [placeholder]="placeholder"
      [searchText]="searchText"
      (onSearch)="searchValueUpdated($event)"
    ></reroils-circulation-search-bar>
    <reroils-circulation-user-message
      [message]="message"
    ></reroils-circulation-user-message>
  </div>
  <div class="col-md-6">
    <reroils-circulation-patron-details
      [patron]="patron"
      (onClearPatron)="clearPatron($event)"
    ></reroils-circulation-patron-details>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <reroils-circulation-items-list
      [items]="items"
      [patron]="patron"
      (onRemoveItem)="removeItem($event)"
      (onApplyItems)="applyItems($event)"
    ></reroils-circulation-items-list>
  </div>
</div>
