<h4 class="pull-right" *ngIf="manager && manager.member_pid">{{manager.name}} work for member #{{manager.member_pid}}</h4>

<tabset *ngIf="manager && manager.member_pid">
  <tab id="manage-checkin-checkout" heading="{{ 'Checkin / Checkout' | translate }}" class="mt-2" (select)="onTabSelect($event)">
  <reroils-circulation-manage-checkin-checkout></reroils-circulation-manage-checkin-checkout>
  </tab>
  <tab id="manage-requests" heading="{{ 'Requests' | translate }}" class="mt-2" (select)="onTabSelect($event)">
    <reroils-circulation-manage-requests
      [visible]="manageRequestsVisible"
      [member_pid]="manager.member_pid"
    >
    </reroils-circulation-manage-requests>
  </tab>
</tabset>

<span *ngIf="!manager">loading...</span>

<span *ngIf="manager && !manager.member_pid">permission denied</span>
