<div *ngIf="_items.length">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover">
<thead>
    <tr>
      <th>{{ 'Document' | translate }}</th>
      <th class="text-center">{{ 'Item' | translate }}</th>
      <th class="text-center">{{ 'Location' | translate }}</th>
      <th class="text-center">{{ 'Requested by' | translate }}</th>
      <th class="text-center">{{ 'Pick-up Location' | translate }}</th>
      <th class="text-center">{{ 'Request date' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{
          'success': item.done === 'validate_request'
        }"
        *ngFor="let item of _items">
      <td>{{ item.item.title }}</td>
      <td class="text-right">
        {{ item.item.barcode }}
      </td>
      <td class="text-right">
        {{ item.item.location_name }} /
        {{ item.item.callNumber }}
      </td>
      <td class="text-right">
        <span *ngIf="item.patron | async as patron; else loading">
          <a [routerLink]="['/checkinout']"
             [queryParams]="{ patron: patron.barcode }"
          >
            {{ patron.first_name }} {{ patron.last_name }}
          </a>
        </span>
      </td>
      <td class="text-right">
        {{ item.holdings[0].pickup_member_name }}
      </td>
      <td class="text-right">
        <span *ngIf="item.holdings[0].request_datetime">
          {{ item.holdings[0].request_datetime | date :'medium' }}
        </span>
      </td>
    </tr>
  </tbody>
  </table>
</div>
<ng-template #loading>
  <i class="fa fa-spinner fa-spin fa-fw"></i>
</ng-template>
